<% if @user_tracked_stocks.any? %>
<div class="flex flex-col mt-8" >
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <thead class="border-b bg-gray-800">
            <tr>
              <th scope="col" class="theader-text">
                Ticker
              </th>
              <th scope="col" class="theader-text">
                 Name
              </th>
              <th scope="col" class="theader-text">
                Price
              </th>
              <th scope="col" class="theader-text">
                Actions
              </th>
            </tr>
          </thead>
          <tbody id="stock_list">
			<% @user_tracked_stocks.each do |stock| %>
				<%= render 'users/shared/stock_list', stock: stock %>
			<% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% else %>

	<div class="mt-8">
		<h3 class="text-2xl font-bold">No stocks tracked</h3>
	</div>
<% end %>
