<% if notice.present? %>
	<p class="bg-green-200 px-2 py-2 rounded-md mt-4 container mx-auto"><%= notice %></p>
<% end %>
<% if alert.present? %>
	<p class="bg-red-200 px-2 py-2 rounded-md mt-4 container mx-auto"><%= alert %></p>
<% end %>