

<% if flash.present? %>
                <%- flash.each do |name, msg| -%>
            <div class="mt-4 <%= name %> " role="alert">
                    <%= content_tag :p,
                                    msg.humanize,
                                    id: "flash_#{name}" if msg.is_a?(String) %>
            </div>
                <%- end -%>
<% end %>
